<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Benvenuti nella mia pagina web, sono Emanuela De Munari, modellista abbigliamento donna e sarta. Sono a disposizione per creare o rivedere insieme capi di abbigliamento e/o progetti di abbigliamento donna e borse.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
              Le borse sono disponibili in sede di realizzazione (per chi abita in provincia di Venezia) ad un costo inferiore del negozio online, per info chiamare i numeri indicati su "contatti".
            </p>
        </div>
    </div>
</section>
