<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Benvenuti nella mia pagina web, sono Emanuela De Munari, modellista abbigliamento donna e sarta.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Sono a disposizione per creare o rivedere insieme capi di abbigliamento e/o progetti di abbigliamento donna e borse.
            </p>
        </div>
    </div>
</section>
